body{
    margin: 0;
    padding: 0;
    background-color: var(--dark-mode);
    overflow-x: hidden;
    overflow-y: hidden;
}

/* CORE */
:root{
    --vermelho-escuro: #640404;
    --vermelho: #790606;   
    --cinza-escuro: #161616;
    --cinza: #252525;
    --cinza-claro: #474747;
    --input: #ffffff;
    --inputborder: #BABABA;
    --preto: #000000;
    --text-dm: #cecece;
    --dark-mode: #121212;
} 

.inter-font {
    font-family: "Inter", sans-serif;
    font-weight: 1;
    font-style: normal;
  }

/* NAVBAR */
nav {
    background-color: var(--cinza);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 0px 0 var(--cinza-escuro);
    align-items: center;
  }

  nav img{
    width: 12%;
    margin: 1% 1% 1% 4%;
  }

.nav-text{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0 7% 0 0;
  }
  
  nav a {
    color: #f2f2f2;
    height: 80px;
    text-decoration: none;
    font-size: 18px;
    align-items: center;
    position: relative;
    transition: all 0.4s;
    display: flex;
    flex-direction: row;
  }

  nav a i{
    margin: 0px 10px 0px 0px;
  }

  #paginaAtual {
    color: var(--cinza-claro);
    pointer-events: none;
  }

  nav a::after{
    content: '';
    height: 3px;
    width: 100%;
    color: var(--cinza-escuro);
    opacity: 0;
    display: flex;
    position: absolute;
    left: 0;
    bottom: 3vh;
    transition: all 0.2s;
  }

  nav a:hover{
    color: var(--input);
  }

  nav a:active {
    color: var(--cinza-escuro);
  }

/* CARDS */

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 5%;
}

.card-section{
  display: flex;
  align-items: center;
}

.card{ 
  background-color: var(--cinza);
  border-radius: 3px;
  height: 100%;
  width: 25%; 
  margin: 0 5% 10% 3%;
}

.card2{ 
  background-color: var(--cinza);
  border-radius: 3px;
  height: 100%;
  width: 25%; 
  margin: 4% 5% 10% 3%;
}

h1{
  color: var(--text-dm);
  padding: 0% 0% 0% 4%;
}

p{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-dm);
  margin: 0%;
}

.card-topbar{
  background-color: #640404;
  display: flex;
  width: 100%;
  border-radius: 1px 1px 0px 0px;
  margin: 0px 0px 10px 0px;
  box-shadow: 0px 5px 10px 0px;
}

h60{
  margin: 0 0 0 2%;

}

.form{
  display: flex;
  justify-content: space-around;
  align-items: center; 
  padding: 5% 0 5% 0;
}

.formAlt{
  display: flex;
  justify-content: space-around;
  align-items: center; 
  padding: 5% 0 5% 0;
}

.login-redirect{
  color: #474747;
  font-style: italic;
  text-decoration: underline;
  font-size: 85%;
}

.login-redirect:hover{
  transition-duration: 0.2s;
  color: #535252;
}

.PasswordWarning{
  width: 100%;
  margin: 1% 1% 1% 5%;
  font-style: italic;
  font-weight: bold;
  font-size: 70%;
  color: red;
  display: none;
}

/* INPUTS */
input[name=TextInput] {
  height: 35px;
  width: 85%;
  border: solid 2px var(--inputborder);
  background-color: #ffffff;
  border-radius: 3px;
  margin: 3% 5% 3% 5%;
  font-size: 12px;
  padding: 0px 0px 0px 3%;
}

.checkbox {
  margin: 2% 0% 3% 6%;
  background-color: var(--cinza-escuro );
      
} 

button{
    width: 35%;
    background-color: var(--vermelho-escuro);
    border: none;
    color: var(--input);
    padding: 2% 2%;
    text-align: center;
    text-decoration: dashed;
}

.buttonAltMargin{
  margin: 0 5% 0 0;
}

button:hover{
  transition-duration: 0.2s;
  background-color: var(--vermelho);
}

/* background */

#background{
  width: 952px;
  height: 618%;
}