body{
    margin: 0;
    padding: 0;
    background-color: var(--dark-mode);
}

div{
    display: flex;
    flex-direction: column;
}

/* CORE */
:root{
    --vermelho-escuro: #640404;
    --vermelho: #790606;   
    --cinza-escuro: #161616;
    --cinza: #252525;
    --cinza-claro: #474747;
    --input: #ffffff;
    --inputborder: #BABABA;
    --preto: #000000;
    --text-dm: #cecece;
    --dark-mode: #121212;
} 

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1;
    font-style: normal;
  }

/* NAVBAR */
nav {
    background-color: var(--cinza);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 0px 0 var(--cinza-escuro);
    align-items: center;
  }

  nav img{
    width: 12%;
    margin: 1% 1% 1% 4%;
  }

.nav-text{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0px 7% 0px 0px;
  }
  
  nav a {
    color: #f2f2f2;
    height: 80px;
    text-decoration: none;
    font-size: 18px;
    align-items: center;
    position: relative;
    transition: all 0.4s;
    display: flex;
    flex-direction: row;
  }

  nav a i{
    margin: 0px 10px 0px 0px;
  }

  #paginaAtual {
    color: var(--cinza-claro);
    pointer-events: none;
  }

  nav a::after{
    content: '';
    height: 3px;
    width: 100%;
    color: var(--cinza-escuro);
    opacity: 0;
    display: flex;
    position: absolute;
    left: 0;
    bottom: 3vh;
    transition: all 0.2s;
  }

  nav a:hover{
    color: var(--input);
  }

  nav a:active {
    color: var(--cinza-escuro);
  }