body{
    margin: 0;
    padding: 0;
    background-color: var(--dark-mode);
}

div{
    display: flex;
    flex-direction: column;
}

/* CORE */
:root{
    --vermelho-escuro: #640404;
    --vermelho: #790606;   
    --cinza-escuro: #161616;
    --cinza: #252525;
    --cinza-claro: #474747;
    --input: #ffffff;
    --inputborder: #BABABA;
    --preto: #000000;
    --text-dm: #cecece;
    --dark-mode: #121212;
} 

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1;
    font-style: normal;
  }

/* NAVBAR */
nav {
    background-color: var(--cinza);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 0px 0 var(--cinza-escuro);
    align-items: center;
  }

  nav img{
    width: 12%;
    margin: 1% 1% 1% 4%;
  }

.nav-text{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0px 7% 0px 0px;
  }
  
  nav a {
    color: #f2f2f2;
    height: 80px;
    text-decoration: none;
    font-size: 18px;
    align-items: center;
    position: relative;
    transition: all 0.4s;
    display: flex;
    flex-direction: row;
  }

  nav a i{
    margin: 0px 10px 0px 0px;
  }

  #paginaAtual {
    color: var(--cinza-claro);
    pointer-events: none;
  }

  nav a::after{
    content: '';
    height: 3px;
    width: 100%;
    color: var(--cinza-escuro);
    opacity: 0;
    display: flex;
    position: absolute;
    left: 0;
    bottom: 3vh;
    transition: all 0.2s;
  }

  nav a:hover{
    color: var(--input);
  }

  nav a:active {
    color: var(--cinza-escuro);
  }

/* Pag */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} 